.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form styles */
.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}

.field {
  text-align: left;
  width: 100%;
}

.fieldWrap {
  text-align: left;
  margin: 20px 0px  20px 0px;
}

.fieldDetails {
  text-align: left;
}

.title {
  text-align: left;
  padding: 10px 0px  10px 0px;
}

.description {
  font-size: 12px;
  padding: 10px 0px  10px 0px;
}

.buttonWrap{
  text-align: right;
  padding: 10px 0px 0px 10px;
}

.buttonWrap .button {
  margin: 10px 10px 0px 10px;
}

.passLabel{
  font-size: 14px;
}